# API Gateway
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: microservices-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: zeli8888/lab4-api-gateway
          ports:
            - containerPort: 9000
          env:
            - name: ORDER_SERVICE_URI
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: ORDER_SERVICE_URI
            - name: INVENTORY_SERVICE_URI
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: INVENTORY_SERVICE_URI
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: microservices-lab
spec:
  type: NodePort
  selector:
    app: api-gateway
  ports:
    - port: 9000
      targetPort: 9000
      nodePort: 30000
---
# Order Service
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: microservices-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: zeli8888/lab4-order-service
          ports:
            - containerPort: 8081
          env:
            - name: INVENTORY_GRPC_URI
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: INVENTORY_GRPC_URI
            - name: ORDER_MONGODB_URI
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: ORDER_MONGODB_URI
            - name: KAFKA_BOOTSTRAP_SERVERS
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: KAFKA_BOOTSTRAP_SERVERS
            - name: KAFKA_SCHEMA_REGISTRY_URL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: KAFKA_SCHEMA_REGISTRY_URL
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: microservices-lab
spec:
  selector:
    app: order-service
  ports:
    - port: 8081
      targetPort: 8081
---
# Inventory Service
apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  namespace: microservices-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
        - name: inventory-service
          image: zeli8888/lab4-inventory-service
          ports:
            - containerPort: 8082
            - containerPort: 50051
          env:
            - name: INVENTORY_POSTGRES_URL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: INVENTORY_POSTGRES_URL
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: microservices-lab
spec:
  selector:
    app: inventory-service
  ports:
    - name: http
      port: 8082
      targetPort: 8082
    - name: grpc
      port: 50051
      targetPort: 50051
---
# Notification Service
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: microservices-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: zeli8888/lab4-notification-service
          ports:
            - containerPort: 8083
          env:
            - name: MAILTRAP_HOST
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: MAILTRAP_HOST
            - name: MAILTRAP_PORT
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: MAILTRAP_PORT
            - name: MAILTRAP_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mailtrap-secrets
                  key: mailtrap-username
            - name: MAILTRAP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mailtrap-secrets
                  key: mailtrap-password
            - name: KAFKA_BOOTSTRAP_SERVERS
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: KAFKA_BOOTSTRAP_SERVERS
            - name: KAFKA_SCHEMA_REGISTRY_URL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: KAFKA_SCHEMA_REGISTRY_URL
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: microservices-lab
spec:
  selector:
    app: notification-service
  ports:
    - port: 8083
      targetPort: 8083