target/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### IDEA ###
.idea/

### Maven ###
.mvn/
mvnw
mvnw.cmd

### temporary files ###
*~

### data volume ###
data_volume

### lab4 volume ###
lab4/data_volume/
