version: '3.8'
services:
  postgres:
    image: postgres:17.6
    container_name: inventory-postgres
    environment:
      POSTGRES_DB: inventory
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_inventory_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d inventory"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 15s

  mongodb:
    image: mongo:7.0.5
    container_name: order-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: order-service
    volumes:
      - mongodb_order_data:/data/db
      - mongodb_order_config:/data/configdb
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')", "--quiet"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 15s

  # manage cluster state(topic partition, broker state and message, etc.)
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      # base unit time in zookeeper, heartbeat interval and session timeout are multiples of this
      ZOOKEEPER_TICK_TIME: 2000

  # message broker, only one instance for this demo project
  broker:
    image: confluentinc/cp-kafka:7.5.0
    container_name: broker
    ports:
      - "9092:9092"
      - "29092:29092"
    depends_on:
      - zookeeper
    environment:
      # unique broker id
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      # security protocol, use plaintext for internal and external communication in this demo project
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      # access from another container using 29092, access from host machine using 9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      # internal replication factor for offset topic
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  # manage message schema and serialization mode
  schema-registry:
    image: confluentinc/cp-schema-registry:7.5.0
    hostname: schema-registry
    container_name: schema-registry
    depends_on:
      - broker
    ports:
      - "8085:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      # address to connect with kafka to persist schema information
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'broker:29092'
      # offer address for producer and consumer to access
      SCHEMA_REGISTRY_LISTENERS: http://schema-registry:8081

  # provide a web interface to manage kafka cluster
  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8086:8080"
    depends_on:
      - broker
    environment:
      KAFKA_CLUSTERS_NAME: local
      KAFKA_CLUSTERS_BOOTSTRAPSERVERS: broker:29092
      KAFKA_CLUSTERS_SCHEMAREGISTRY: http://schema-registry:8081
      DYNAMIC_CONFIG_ENABLED: 'true'

  # api-gateway
  api-gateway:
    image: zeli8888/lab4-api-gateway
    container_name: api-gateway
    ports:
      - "9000:9000"
    environment:
      ORDER_SERVICE_URI: http://lab4-order-service:8081
      INVENTORY_SERVICE_URI: http://lab4-inventory-service:8082

  # order-service
  order-service:
    image: zeli8888/lab4-order-service
    container_name: lab4-order-service
    ports:
      - "8081:8081"
    environment:
      INVENTORY_GRPC_URI: static://lab4-inventory-service:50051
      ORDER_MONGODB_URI: mongodb://root:password@order-mongodb:27017/order-service?authSource=admin
      KAFKA_BOOTSTRAP_SERVERS: broker:29092
      KAFKA_SCHEMA_REGISTRY_URL: http://schema-registry:8081
    depends_on:
      mongodb:
        condition: service_healthy
      broker:
        condition: service_started
      schema-registry:
        condition: service_started
      zookeeper:
        condition: service_started

  # inventory-service
  inventory-service:
    image: zeli8888/lab4-inventory-service
    container_name: lab4-inventory-service
    ports:
      - "8082:8082"
    environment:
      INVENTORY_POSTGRES_URL: jdbc:postgresql://inventory-postgres:5432/inventory
    depends_on:
      postgres:
        condition: service_healthy

  # notification-service
  notification-service:
    image: zeli8888/lab4-notification-service
    container_name: lab4-notification-service
    ports:
      - "8083:8083"
    environment:
      MAILTRAP_HOST: sandbox.smtp.mailtrap.io
      MAILTRAP_PORT: 2525
      MAILTRAP_USERNAME: 320507215fd1af
      MAILTRAP_PASSWORD: fe0f5ce461f8b0
      KAFKA_BOOTSTRAP_SERVERS: broker:29092
      KAFKA_SCHEMA_REGISTRY_URL: http://schema-registry:8081
    depends_on:
      - broker
      - schema-registry
      - zookeeper

volumes:
  postgres_inventory_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data_volume/postgres-inventory/db
  mongodb_order_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data_volume/mongodb-order/db
  mongodb_order_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data_volume/mongodb-order/configdb