version: '4'
services:
  # manage cluster state(topic partition, broker state and message, etc.)
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      # base unit time in zookeeper, heartbeat interval and session timeout are multiples of this
      ZOOKEEPER_TICK_TIME: 2000

  # message broker, only one instance for this demo project
  broker:
    image: confluentinc/cp-kafka:7.5.0
    container_name: broker
    ports:
      - "9092:9092"
      - "29092:29092"
    depends_on:
      - zookeeper
    environment:
      # unique broker id
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      # security protocol, use plaintext for internal and external communication in this demo project
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      # access from another container using 29092, access from host machine using 9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      # internal replication factor for offset topic
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  # manage message schema and serialization mode
  schema-registry:
    image: confluentinc/cp-schema-registry:7.5.0
    hostname: schema-registry
    container_name: schema-registry
    depends_on:
      - broker
    ports:
      - "8085:8081"
    environment:

      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      # address to connect with kafka to persist schema information
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'broker:29092'
      # offer address for producer and consumer to access
      SCHEMA_REGISTRY_LISTENERS: http://schema-registry:8081

  # provide a web interface to manage kafka cluster
  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8086:8080"
    depends_on:
      - broker
    environment:
      KAFKA_CLUSTERS_NAME: local
      KAFKA_CLUSTERS_BOOTSTRAPSERVERS: broker:29092
      KAFKA_CLUSTERS_SCHEMAREGISTRY: http://schema-registry:8081
      DYNAMIC_CONFIG_ENABLED: 'true'