server:
  port: 9000

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webmvc:
          ### spring cloud gateway has integration with resilience4j circuit breaker and timeout, but not retry
          ### using spring retry instead
          routes:
          - id: order_service
            uri: http://localhost:8081
            predicates:
            - Path=/api/order/**
            filters:
            - name: CircuitBreaker
              args:
                id: orderServiceCircuitBreaker
                fallbackUri: forward:/fallbackRoute
            - name: Retry
              args:
                ### maximum number of retry attempts, excluding the initial call
                retries: 3
                ### Only Idempotent requests
                methods: GET,PUT,DELETE
                statuses: 500,502,503,504
                series: SERVER_ERROR
                backoff:
                  ### initial wait duration between retry attempts, 50ms
                  firstBackoff: 50ms
                  maxBackoff: 200ms
                  ### enable exponential backoff strategy, with a multiplier of 2, 50ms -> 100ms -> 200ms
                  factor: 2
                  basedOnPreviousValue: false
                  ### e.g., 0.25 means 25% of the wait duration on the basis of exponential backoff, 50ms(12.5ms) -> 100ms(25ms) -> 200ms(50ms)
                  jitter:
                    randomFactor: 0.25

          - id: inventory_service
            uri: http://localhost:8082
            predicates:
              - Path=/api/inventory/**
            filters:
              - name: CircuitBreaker
                args:
                  id: inventoryServiceCircuitBreaker
                  fallbackUri: forward:/fallbackRoute
              - name: Retry
                args:
                  ### maximum number of retry attempts, excluding the initial call
                  retries: 3
                  ### Only Idempotent requests
                  methods: GET,PUT,DELETE
                  statuses: 500,502,503,504
                  series: SERVER_ERROR
                  backoff:
                    ### initial wait duration between retry attempts, 50ms
                    firstBackoff: 50ms
                    maxBackoff: 200ms
                    ### enable exponential backoff strategy, with a multiplier of 2, 50ms -> 100ms -> 200ms
                    factor: 2
                    basedOnPreviousValue: false
                    ### e.g., 0.25 means 25% of the wait duration on the basis of exponential backoff, 50ms(12.5ms) -> 100ms(25ms) -> 200ms(50ms)
                    jitter:
                      randomFactor: 0.25

# Resilience4j Circuit Breaker Configuration
resilience4j:
  circuitbreaker:
    configs:
      default:
        # only consider closed calls in the sliding window
        sliding-window-size: 10
        # failure threshold in percentage
        failure-rate-threshold: 50
        # duration to wait before attempting to half-open
        wait-duration-in-open-state: 5000
        # maximum number of concurrent requests allowed when half-open
        permitted-number-of-calls-in-half-open-state: 3
  timelimiter:
    configs:
      default:
        # timeout for server calls, larger timeout for additional retries
        timeout-duration: 10s

# Explanation
# In spring cloud gateway, multiple retry failures in one request will be considered as one failure in circuit breaker,
# and the timeout duration is the maximum timeout duration of all retries.
# This is different from resilience4j, where multiple retry failures in one request will be considered as multiple failures in circuit breaker,
# and the timeout duration is for each retry.

## for debug only
#logging:
#  level:
#    org:
#      springframework: DEBUG